<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    <main>
        <h1>ToDo - список задач</h1>
        <br>
        {% block content %}
        
        {% endblock content %}
    </main>
</body>
</html>
