{% extends 'base.html' %}

{% block content %}
    <form action="/edit/{{todo.id}}" method="post">
        <div class="title">
        <h2>Заголовок задачи</h2>
        </div>
        <textarea name="title" rows="5">{{todo.title}}</textarea>
        <textarea name="details" rows="5">{{todo.details}}</textarea>
        <textarea name="data" rows="5" style="width:200px; height:30px;">{{todo.data}}</textarea>
        <label for="completed">Задача выполнена?</label>
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
        <h4>Выберите тег:</h4>
        <select name="tag">
            {% for tag in ["Учёба","Личное","Планы", "Разное"] %}
                <option value="{{ tag }}" {% if tag == todo.tag %} selected {% endif %}>
                    {{ tag }}
                </option>
            {% endfor %}
        </select>


        <button type="submit">Сохранить</button>
    </form>
{% endblock content %}
