{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post">
        <textarea name="title" rows="5" placeholder="Введите задачу"></textarea>
        <textarea name="details" rows="5" placeholder="Введите описание задачи"></textarea>
        <textarea name="data" rows="5" style="width:450px; height:30px;" placeholder="Введите дату выполнения (в формате: yyyy-mm-dd)"></textarea>
        <select name="tag">
        <option selected value="Планы"> Планы</option>
        <option value=Учёба> Учёба</option>
        <option value=Личное> Личное</option>
        <option value=Разное> Разное</option>
    </select>
        <button type="submit">Добавить</button>
    </form>

    <br>
    <h2>Задачи</h2>

    <div>
        {% for todo in todos %}
            <div class="title">
                {% if todo.completed %}
                    <strike>{{ todo.title }}</strike>
                {% else %}
                    {{ todo.title}}
                {% endif %}
                <small>
                    <input type="checkbox" {% if todo.completed %}checked{% endif %} name="completed"
                       onclick="window.location.href= 'done/{{ todo.id }}'">
                    <a href="edit/{{ todo.id }}">Редактировать</a>
                    <a href="delete/{{ todo.id }}">Удалить</a>
                </small>
            </div>
        {% endfor %}

    </div>
<form action="/" method="get">
       <select name="tag" align="justify">
      {% for tag in count_tag %}
       <p>
            <option value={{ tag.0 }}> {{ tag.0 }} - {{ tag.1 }}</option>
       </p>
       {% endfor %}
       </select>
    </form>
<div>
       Страницы:
       {% for i in range(pages) %}
        <a rel={{ i }}
          {%if i==page%}style="color:red;"{% endif %}
         href="/?limit={{ limit }}&skip={{ i }}">{{ i+1 }}</a>
       {% endfor %}
</div>

    <form action="/todo_delete_all" method="get">
    <br>
    <button type="submit">Удалить все ToDo</button>
    </form>

    <form action="/done_all" method="get">
    <br>
    <button type="submit">Сделать все ToDo выполненными</button>
    </form>

{% endblock content %}
